{% extends 'base.html' %}

{% load i18n admin_modify %}
{% load humanize %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/logframe.css" />

	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/getElementsBySelector.js"></script>

	<!-- http://groups.google.com/group/django-users/browse_thread/thread/2f529966472c479d -->
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/i18n.js"></script>

	{{ profile_form.media }}

	{{ block.super }}
{% endblock %}

{% block title %}
	Logframe Overview
{% endblock %}

{% block heading %}
	Logframe Overview
{% endblock %}

{% block body %}

<div class="impact-overview result-overview">
	<table>
		<tbody>
		<tr>
			<td class="overview-minmax unselectable">▶</td>
			<td class="overview-title"><h2>Impact (Goal)</h2></td>
			<td class="overview-target barchart-background" data-percent="40">Target</td>
			<td colspan="2" class="overview-description status-background" data-status="warning">AGW get improved access to health, education, economic, political opportunities and justice
			</td>
			<td class="overview-manage">
				<a href="#">Edit</a>
				<a href="#">Monitor</a>
			</td>
		</tr>
		<tr class="output-child">
			<td></td>
			<td class="indicator-title"><h2>To be done</h2></td>
			<td class="indicator-target"></td>
			<td colspan="2" class="indicator-description"></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</div>

<div class="outcome-overview result-overview">
	<table>
		<tbody>
		<tr>
			<td class="overview-minmax unselectable">▶</td>
			<td class="overview-title"><h2>Outcome</h2></td>
			<td class="overview-multiple-targets">
				<table>
					<tbody>
					<tr><td class="overview-target barchart-background" data-percent="60">Budget</td></tr>
					<tr><td class="overview-target barchart-background" data-percent="70">Activities</td></tr>
					<tr><td class="overview-target barchart-background" data-percent="50">Target</td></tr>
					</tbody>
				</table>
			</td>
			<td colspan="2" class="overview-description status-background" data-status="danger">The enabling environment for AGWs' empowerment in Nigeria strengthened.
			</td>
			<td class="overview-manage">
				<a href="#">Edit</a>
				<a href="#">Monitor</a>
			</td>
		</tr>
		<tr class="output-child">
			<td></td>
			<td class="indicator-title"><h2>To be done</h2></td>
			<td class="indicator-target"></td>
			<td colspan="2" class="indicator-description"></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</div>

{% for output in logframe.output_set.all %}
<div class="output-overview result-overview">
	<table>
		<tbody>
		<tr>
			<td class="overview-minmax unselectable">▶</td>
			<td class="overview-title"><h2>{{ output.name }}</h2></td>
			<td class="overview-multiple-targets">
				<table>
					<tbody>
					<tr><td class="overview-target barchart-background" data-percent="{{ output.budget_percent }}">Budget</td></tr>
					<tr><td class="overview-target barchart-background" data-percent="{{ output.activities_percent }}">Activities</td></tr>
					<tr><td class="overview-target barchart-background" data-percent="50">Target</td></tr>
					</tbody>
				</table>
			</td>
			<td colspan="2" class="overview-description status-background" data-status="danger">{{ output.description }}
			</td>
			<td class="overview-manage">
				<a href="{% url "logframe-output-update" output.id %}">Edit</a>
				<a href="#">Monitor</a>
			</td>
		</tr>
		{% for indicator in output.indicator_set.all %}
		<tr class="output-child">
			<td></td>
			<td class="indicator-title"><h2>{{ indicator.name }}</h2></td>
			<td class="indicator-target barchart-background" data-percent="40">Target</td>
			<td colspan="2" class="indicator-description">{{ indicator.description|safe }}</td>
			<td class="indicator-manage">
				<a href="{% url "logframe-monitor-indicator" indicator.id %}">Monitor</a>
				<a href="#">History</a>
			</td>
		</tr>
		{% endfor %}
		<tr class="output-child">
			<td></td>
			<td class="budget-title"><h2>Budget</h2></td>
			<td class="budget-target barchart-background" data-percent="{{ output.budget_percent }}">Budget</td>
			<td class="budget-planned"><span class="budget-label">Planned: </span> <span class="budget-amount">£{{ output.budget_planned|intcomma }}</span></td>
			<td class="budget-spent"><span class="budget-label">Spent: </span> <span class="budget-amount text-ok">£{{ output.budget_spent|intcomma }}</span></td>
			<td class="budget-manage">
				<a href="/admin/logframe/output/{{ output.id }}/">View</a>
			</td>
		</tr>
		<tr class="output-child">
			<td></td>
			<td class="activities-title"><h2>Activities</h2></td>
			<td class="activities-target barchart-background" data-percent="{{ output.activities_percent }}">Activities</td>
			<td class="activities-planned"><span class="activities-label">Planned:</span> <span class="activities-amount">{{ output.activities_planned }}</span></td>
			<td class="activities-spent">
				<div class="two-amount"><span class="activities-label">Complete: </span> <span class="activities-amount text-danger">{{ output.activities_complete }}</span></div>
				<div class="two-amount"><span class="activities-label">On schedule: </span> <span class="activities-amount text-ok">{{ output.activities_on_schedule }}</span></div>
			</td>
			<td class="activities-manage">
				<a href="/admin/logframe/output/{{ output.id }}/">View</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
{% endfor %}

<script src="{{ STATIC_URL }}jquery-1.10.2.js"></script>
<script src="{{ STATIC_URL }}js/logframe.js"></script>
{% endblock %}
