{% extends 'base.html' %}

{% load i18n admin_modify %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/logframe.css" />

	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/getElementsBySelector.js"></script>

	<!-- http://groups.google.com/group/django-users/browse_thread/thread/2f529966472c479d -->
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/i18n.js"></script>

	{{ profile_form.media }}

	{{ block.super }}
{% endblock %}

{% block title %}
	Logframe Output
{% endblock %}

{% block heading %}
	Logframe Output
{% endblock %}

{% block body %}
	<p><a href="{% url "logframe-overview" output.log_frame.id %}">Back to logframe</a></p>

	<form name="output" method="post">
		{% csrf_token %}
		{% if deploy_env == 'dev' %}
		<div class="submit-row">
			<input type="submit" name="save" value="Save" />
			<input type="button" value="Cancel" onclick="window.history.back(); return false;" />
		</div>
		{% endif %}

		<div class="form errors box">
		{{ form.errors }}
		{% if deploy_env == 'dev' %}
		<pre> {{ indicators.errors }} </pre>
		{% endif %}
		</div>

		{{ form.log_frame.as_hidden }}


<table class="tall output table">
	<tr>
		<td class="tall" width="16.6%">
			<h3 class="output heading">{{ form.name }}</h3>
			{{ form.description }}
			<div class="at-bottom">Impact Weighting: {{ form.impact_weighting }}</div>
		</td>
		<td width="66.6%">
			{{ indicators.management_form }}
			<table id="id_indicators" class="indicators">
				{% for indicator in indicators %}
				<tr id="id_{{ indicator.prefix }}" class="indicator-row"
					{% if indicator.empty %}style="display: none;"{% endif %}>
					<td class="indicator-cell">
						<h3 class="indicator heading">{{ indicator.name }}</h3>
						{{ indicator.description }}
						<div class="indicator-del indicator-del-button table-button" title="Delete Indicator">✖ </div>
						{{ indicator.id }}
					</td>
					<td>
						<table class="editable subindicator-table">
							<tr class="subindicator-management" style="display: none;">
								{{ indicator.subindicators.management_form }}
							</tr>
							<tr class="milestone-heading-row">
								<th class="milestone-heading"></th>
								{% for milestone in milestones %}
								<th class="milestone-heading">{{ milestone.name }}</th>
								{% endfor %}{# milestone #}
								<th class="milestones-edit"><a href="/admin/logframe/milestone/">Edit</a></th>
							</tr>
							{% for subindicator in indicator.subindicators %}
							<tr id="id_{{ subindicator.prefix }}" class="subindicator-row"
								{% if subindicator.empty %}style="display: none;"{% endif %}>
								<td style="display:none;">{{ subindicator.id }}</td>
								<td class="subindicator">{{ subindicator.name }}</td>
								{% for target in subindicator.targets %}
								<td class="milestone-column">{{ target.value }}</td>
								{% endfor %}
								<td class="subindicator-del" title="Delete Subindicator"><span class="table-button subindicator-del-button">✖ </span></td>
							</tr>
							{% endfor %}{# subindicator #}
							<tr class="subindicator-add-row">
								<td colspan="6"><div class="subindicator-add subindicator-add-button table-button" title="Add Subindicator">✚ </div></td>
							</tr>
							<tr class="source">
								<td colspan="6">Source</td>
							</tr>
							<tr>
								<td colspan="6">{{ indicator.source }}</td>
							</tr>
						</table>
					</td>
				</tr>
				{% endfor %}{# indicators #}
			</table>

			<div class="indicator-add">
				<span class="indicator-add-button table-button" title="Add indicator">✚ </span>
				<span class="indicator-add-label">Add indicator</span>
			</div>
		</td>
		<td class="tall">
			<h3 class="assumptions heading">Assumptions</h3>
			{{ form.assumptions }}
			<div class="at-bottom">Risk Rating: {{ form.risk_rating }}</div>
		</td>
	</tr>
</table>


		{% if deploy_env == 'dev' %}
		<div class="submit-row">
			<input type="submit" name="save" value="Save" />
			<input type="button" value="Cancel" onclick="window.history.back(); return false;" />
		</div>
		{% endif %}
	</form>

	<p><a href="{% url "logframe-overview" output.log_frame.id %}">Back to logframe</a></p>

<script src="{{ STATIC_URL }}jquery-1.10.2.js"></script>
<script src="{{ STATIC_URL }}js/logframe.js"></script>
<script src="{{ STATIC_URL }}js/logframe-forms.js"></script>
{% endblock %}
