{% extends 'default_layout.dhtml' %}

{% load i18n admin_modify %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/logframe.css" />

	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/getElementsBySelector.js"></script>
	
	<!-- http://groups.google.com/group/django-users/browse_thread/thread/2f529966472c479d -->
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/i18n.js"></script>

	{{ profile_form.media }}	
	
	<script type="foo"></script>
	
	{{ block.super }}
{% endblock %}

{% block title %}
	Logframe Output
{% endblock %}

{% block heading %}
	Logframe Output
{% endblock %}

{% block body %}
	<form name="output" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="submit-row">
			<input type="submit" name="save" value="Save" />
			<input type="button" value="Cancel" onclick="window.history.back(); return false;" />
		</div>

		<div class="form errors box">
		{{ form.errors }}
		</div>

		{{ form.log_frame.as_hidden }}

		<!-- {{ indicators.errors }} -->

<table class="tall output table">
	<tr>
		<td class="tall" width="16.6%">
			<h3 class="output heading">{{ form.name }}</h3>
			{{ form.description }}
			<div class="at-bottom">Impact Weighting: {{ form.impact_weighting }}</div>
		</td>
		<td width="66.6%">
			{{ indicators.management_form }}
			<table id="id_indicators" class="indicators">
				{% for indicator in indicators %}
				<tr id="id_{{ indicator.prefix }}" class="indicator-row"
					style="{% if indicator.empty %}display: none;{% endif %}">
					<td class="indicator-cell">
						<h3 class="indicator heading">{{ indicator.name }}</h3>
						{{ indicator.description }}
						<div class="indicator-del indicator-del-button">[X]</div>
						{{ indicator.id }}
					</td>
					<td>
						<table class="editable">
							<tr>
								{% if indicator.subindicators|length > 1 %}
								<th class="milestone-heading">Sub-indicator</th>
								{% endif %}
								{% for milestone in milestones %}
								<th class="milestone-heading">{{ milestone.name }}</th>
								{% endfor %}{# milestone #}
								<th class="milestones-edit"><a href="#">Edit</a></th>
							</tr>
							{% for subindicator in indicator.subindicators %}
							<tr>
								{% if indicator.subindicators|length > 1 %}
								<th class="subindicator">{{ subindicator.name }}</th>
								{% endif %}
								{% for target in subindicator.targets %}
								<td class="milestone-column">{{ target.value }}</td>
								{% endfor %}
								<td class="subindicator-del">[X]</td>
							</tr>
							{% endfor %}{# subindicator #}
							<tr>
								<td colspan="6"><div class="subindicator-add">[+]</div></td>
							</tr>
							<tr class="source">
								<td colspan="6">Source</td>
							</tr>
							<tr>
								<td colspan="6"><textarea>V4C partners' quarterly reporting. <em>Clarification of measurable to be determined during deepening design phase.</em></textarea></td>
							</tr>
						</table>
					</td>
				</tr>
				{% endfor %}{# indicators #}
			</table>

			<div class="indicator-add">
				<span class="indicator-add-button">[+]</span>
				<span class="indicator-add-label">Add indicator</span>
			</div>
		</td>
		<td class="tall">
			<h3 class="assumptions heading">Assumptions</h3>
			<textarea class="padded-bottom">
				<p>
				Stream level: <br />
				Changes in the three Streams occur at rates that mean the effects are mutually reinforcing.
				</p><p>
				An increasing number of girls are reached as more SS IPs are mobilised and improve in their delivery of the CSAGE package. The 4th year marks the start of the winding down phase.
				</p>
			</textarea>
			<div class="at-bottom">Risk Rating: Medium</div>
		</td>
	</tr>
</table>

		
		<div class="submit-row">
			<input type="submit" name="save" value="Save" />
			<input type="button" value="Cancel" onclick="window.history.back(); return false;" />
		</div>
	</form>

<script src="{{ STATIC_URL }}jquery-1.10.2.js"></script>
<script src="{{ STATIC_URL }}js/logframe.js"></script>
{% endblock %}
